
*{
	text-rendering: optimizelegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body{
	background:url('img/bg-sand.jpg');
}
.row{
	padding: 0 1.0625rem;
}


.content{
	width: @pageWidth;
	max-width: 75rem;
	margin: 2rem auto;
	padding: 2rem 0;
	background: @white;	
	
}

hr{
	border-style: dashed;
	border-color: @grey;
	margin-left: 2rem;
	margin-right: 2rem;
}
h1,
h2,
h3,
h4{
	font-family: @serif;
	font-weight: 900;
	color:@red;
	
	&.subheadline{
		color: @grey;
	}
}

p{
		font-family: @sans-serif;
		color: @darkgrey;
		font-size: 1rem;
		line-height: 1.3rem;
	}


@media screen and (max-width: 1024px) {
	.content{
		width:98%;
	}
}

@media screen and (max-width: 640px) {
    .content{
	    margin: 0rem auto;
	    width: 100%;
    }
}

