#mainFooter{
	background: url('img/footer-glow.png') no-repeat top center @darkblue;
	padding-bottom: 50px;
	.logo{
		padding: 60px 0;
		margin: 0px auto;
		width: 160px;
	}
	
	.titel-line{
			text-align: center;
		p{
			font-family: @serif;
			font-weight: 900;

			color: @white;
		}
		a{
			font-family: @serif;
			font-weight: 900;
			text-align: center;
			color: @white;
			font-size: 0.75rem;
			
			&:hover{
				color: @red;
			}
		}
	}
}