#headWrapper{
		background:url('img/bg-sand.jpg');
}

header{
	position: relative;

	&#mainHeader{
		width: @pageWidth;
		max-width: 75em;
		margin: 0 auto;			
		padding: 1.25em 0;
	}
	h1,
	h2{
		color: @white;
		font-family: @serif;
		font-weight: 900;
	}
	h1{
		font-size: 1.75em;
		text-shadow: @textShadowHard;
	}
	h2{
		font-size: 0.875em;
	}
	.logoWrapper{
		float: left;
		margin-right: 2em;
		a{
		
			&.logo{
				height: 76px;
				width: 81px;
				display: block;
				background: url('img/logo.png') no-repeat top left;
			}
			
		}
	}
}

#mainNavigation{
	background: url('img/bg-nav.png') no-repeat bottom center @darkblue;
	box-shadow: 0 0 20px rgba(0,0,0, .5);
	width: 100%;
	min-height: 4.1rem;
	
	.top-bar{
		background: none;
		width: @pageWidth;
		&.expanded{
			.title-area{
				background: white;
			}
			
			.toggle-topbar{
				a{
					color: @red;
					span:after{
						box-shadow: 0 0 0 1px #cd1719, 0 7px 0 1px #cd1719, 0 14px 0 1px #cd1719;
					}
				}
			}
		}
		.top-bar-section{
			li
			{
			background: none;
				
				a
				{
					background: none;
					height: 4.1rem;
					line-height: 4rem;
					font-family: @serif;
					font-weight: 700;
					color: @white;
					padding: 0 2rem;
					
					&:hover{
						color: @red;
					}
					
					&.highlight{
						box-shadow: inset 0 0 20px rgba(0,0,0,0.4);
						background: @blue;
					}
				}
							
					
				
			}
			.dropdown{
				background: @darkblue;
				li{
					a{
						height: auto;
						line-height: 3.5rem;
						&:hover{
							background: @blue;
							color: @white;
						}
					}
				}
			}
			.has-dropdown > a:after{
				margin-top: 0.45rem;
			}
		}
	}
}


@media screen and (max-width: 1024px) {
	header{
		&#mainHeader{
			width:98%;
		}
	}
	#mainNavigation {
          .top-bar{
	        width: 98%;
	      }
    }

}

@media screen and (max-width: 640px) {
    header{
		&#mainHeader{
			padding: 0.75em 0;
			width: 100%;
			.logoWrapper{
				float: left;
				margin: 1em 0 0 1em;
				width: 81px;
				a{
					&.logo{
						background-size: 70%;
					}
				}
			}
		}
		
		h1,
		h2{
			font-size: 1.0em;
		}
		h1{
			text-shadow: 1px 1px 1px #000;
		}
		h2{font-size: .8em;}
	}
    
    #mainNavigation {
        min-height:2rem;
        .top-bar{
	        width: 100%;
	      }
    }
    
}

