.teaser{
	//margin-bottom: 2rem;
	.date{
		font-family: @sans-serif;
		font-size: 0.75rem;
		color: @grey;
	}
	a{
		h2{
			color: @red;
			font-family: @serif;
			font-weight: 900;
			font-size: 1.25rem;
			line-height: 1.4rem;
		}
		
		&:hover,
		&:active{
			h2{
				color: @blue;
			}
		}
	}
	
	.imageHolder{
		margin-bottom: 0.625rem;
	}
	
	p{
		margin-bottom: 0.5rem;
	}

	
	&.large-8,
	&.large-9,
	&.large-12{
		
		.imageHolder{
			width: 35%;
			float: left;
			margin-right: 1.25rem;
			}
	}
	
}