
*{
	text-rendering: optimizelegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body{
	background:url('img/bg-sand.jpg');
}
.row{
	padding: 0 1.0625rem;
}



.content{
	width: @pageWidth;
	max-width: 75rem;
	margin: 2rem auto 0;
	padding: 2rem 0;
	background: @white;	
	
}

.date{
		font-family: @sans-serif;
		font-size: 0.75rem;
		color: @grey;
	}

hr{
	border-style: dashed;
	border-color: @grey;
	margin-left: 2rem;
	margin-right: 2rem;
	
	&.full{
		margin-left: 0rem;
		margin-right: 0rem;
	}
}

h1,
h2,
h3,
h4{
	font-family: @serif;
	font-weight: 900;
	color:@red;
	line-height: 1.2em;
	
	&.subheadline{
		color: @grey;
		font-weight: 300;
		font-size: 1.125rem;
	}
	
	&.chapter{
		margin-bottom: 1.25rem;
	}
	
	a{
		color: @red;
		&:hover{
			color:@blue;
		}
	}
	
	
}

h1{
	font-size: 2rem;
	//line-height: 2.3rem;
}
h2{
	font-size: 1.75rem;
}

h3{
	font-size: 1.25rem;
}

p{
		font-family: @sans-serif;
		color: @darkgrey;
		font-size: 0.875rem;
		line-height: 1.3rem;
		
		&.small{
			font-size: 0.75rem;
			line-height: 0.875rem;
		}
	}
	
ul, 
ol, 
dl{
	font-family: @sans-serif;
	font-size: 0.875rem;
}
	
img{
	&.alignleft{
		float: left;
		margin: 0 15px 10px 0;
	}
	
	&.alignright{
		float: right;
		margin: 0 0 15px 10px;
	}
}

.post .entry-header{
	margin-bottom: 10px;
}

.mapWrapper{
	width: @pageWidth;
	max-width: 75rem;
	margin: 2rem auto 0;
	background: @white;	
}

#map{
	height: 500px;
	 img {
	 max-width: none;
	}
}

.menu-teams-container{
	ul{
		margin: 0px;
		li{
			display: block;
			width: 50%;
			height: 60px;
			float: left;
			background: url("img/gradient.jpg") no-repeat;
			background-size: 100% 100%;
			padding-left: 20px;
			display: table;
			a{	
				font-size: 0.875rem;
				font-weight: 900;
				display: table-cell;
				vertical-align: middle;				
				&:after{
					content: "";
					display: inline-block;
					height: 13px;
					width: 15px;
					margin-left: 6px;
					background: url('img/sprite.png') no-repeat 0px 3px;
				}
				
				&:hover{
					&:after{
						background: url('img/sprite.png') no-repeat -30px 3px;
					}
				}
				
			}
		}
	}
}

.row{
	&.no-padding{
		padding: 0px;
	}
}

.teamImageHolder{
	padding-bottom: 20px;
}

@media screen and (max-width: 1024px) {
	.content{
		width:98%;
	}
	
	
	#map{
		height: 350px;
	}

}

@media screen and (max-width: 640px) {
	.hideSmall{
		display: none;
	}
	
	hr{
		margin: 20px 15px;
	}
    .content{
	    margin: 0rem auto;
	    width: 100%;
    }
    #map{
		height: 280px;
	}
	.mapWrapper{
		margin-top: 0px;	
	}
	
	.row{
		padding: 0.1rem;
		.row{
			padding: 0rem;
		}
	}
}

