.banderoleWrapper{
	text-align: center;
	margin-top: 30px;
	.banderole{
		display: inline-block;
		h1,
		h3{
		background: @white;
		width: auto;
		display: inline-block;
		padding: 10px 40px;
		font-size: 2rem;
		line-height: 3rem;
		font-weight: 900;
		float: left;
		position: relative;
		text-transform: uppercase;
		}
		&:after{
			display: block;
			height: 68px;
			width:  40px;
			background: url("img/banderole.png") no-repeat -40px -45px ;
			content: "";
			float: right;
			margin: 13px 0 0 -18px;
			position: relative;
			z-index: -1;
		}
		
		&:before{
			display: block;
			height: 68px;
			width:  40px;
			background: url("img/banderole.png") no-repeat 0 -45px;
			content: "";
			float: left;
			margin: 13px -18px 0;
			position: relative;
		}
	}
}

@media screen and (max-width: 640px) {
	.banderoleWrapper{
		margin-top: 10px;
		.banderole{
			margin-bottom: 0px;
			h1,
			h3{
			padding: 5px 10px;
			font-size: 1rem;
			line-height: normal;
			}
			
			&:after{
			display: none;
			}
			
			&:before{
				display: none;			
				}

		}
	}
	
}