.gameTeaser{
	display: block;
	clear: both;
	background: url("img/gradient.jpg") no-repeat;
	background-size: 100% 100%;
	margin-bottom: 30px;
	
	.dateWrapper{
		background: @blue;
		padding: 3px 0 3px 20px;
		margin-left: -10px;
		p{
			margin-bottom: 0;
			span{
				font-size: 0.875rem;
				color: #fff;
				
				&.date{
					font-weight: 900;
				}
				
				&.time{
					margin-left: 10px;
				}
			}
		}
		
		&:after{
			display: block;
			content: "";
			height: 5px;
			width: 10px;
			background: url("img/banderole-left.png") no-repeat left top;
			margin-top: 3px;
			left: 5px;
			position: absolute;
		}
	}
	
	.teamWrapper{
		padding: 20px;
		
		.logoBox{
			display: table;
			table-layout: fixed;
			float: left;
			width: 35%;
			.imageWrapper{
				width: 60px;
				float: left;
				background: #fff;
				padding: 2px;
				border-radius: 30px;
			}
			
			.teamname{
				display: table-cell;
				vertical-align: middle;
				text-align: left;
				font-size: 1rem;
				padding: 0px 0 0 70px;
				line-height: 1rem;
				width: 100%;
			}
		}
		
		.versus{
			//display: none;
			display: table;
			table-layout: fixed;
			width: 30%;
			height: 60px;
			float: left;
			text-align: center;

			
			p{
				display: table-cell;
				vertical-align: middle;
								
				font-family: @serif;
				font-weight: 900;
				color: @grey;
				font-size: 1.6rem;
			}
		}
	
	}
	
	&:hover{
		.dateWrapper{
		background: @red;
			&:after{
				background: url("img/banderole-left.png") no-repeat left bottom;
			}
		}
	}
}



.large-3,
.large-4,
.large-5{
	.gameTeaser{
		margin-bottom: 10px;
		.teamWrapper{
			padding: 10px;
			.logoBox{
				width: 50%;
				.imageWrapper{
					width: 30px;
					img{
						-ms-interpolation-mode: bicubic;
					}
				}
				.teamname{
					padding: 0px 0 0 35px;
					font-size: 0.75rem;
				}
			}
			.versus{
				display: none;
			}
		}
	}
}


@media screen and (max-width: 640px) {
   .gameTeaser{
	   .teamWrapper{
		   .logoBox{
			   .imageWrapper{
					width: 30px;
				}
			  .teamname{
				  font-size: 0.75rem;
				  padding: 0px 0 0 40px;
				  line-height: 0.75rem;
			  }
		   }
		   .versus{
			   height: auto;
			
			p{

				font-size: 1.2rem;
			}
		}
	   }
   }
}