.gameStageWrapper{
	//margin: 30px 0;
	
	
	p{
	color: @white;
	}
	
	.homeWrapper{
		float: left;
	}
	
	.gameInfoWrapper{
		float: left;
		width: 33%;
		text-align: center;
		padding-top: 40px;

		.date,
		.time,
		.versus{
			font-family: @serif;
			text-shadow: @textShadowHard;
			font-weight: 900;
		}

		.versus{
			font-size: 5rem;
		}
		
		.date{
			font-size: 1.7rem;
			line-height: 1.9rem;
			margin-bottom: 0px;
		}
		.time{
			font-size: 1.15rem;
			margin-bottom: 50px;
		}
		
		.teaserButton{
			margin: 50px 0;
		}
		
				
	}
	
	.guestWrapper{
		float: left;
	}
	
	.logoBox{
		width: 33%;
		text-align: center;
		img{
			width: 80%;
			height: auto;
			margin-bottom: 30px;
		}
		
		.teamname{
			font-family: @serif;
			font-weight: 900;
			font-size: 1.7rem;
			text-shadow: @textShadowHard;
			line-height: 1.9rem;
		}
	}
	
	
	&.light{
		margin-top: 30px;
		.gameInfoWrapper{
			padding-top: 100px;
			
			.versus,
			.date,
			.time{
				text-shadow: none;
			}
			
			.date,
			.time{
				color: @red;
			}
			
			.versus{
				color: @grey;
			
			}
		}
		
		.logoBox{
			.teamname{
				color: @blue;
				text-shadow: none;
			}
			
			img{
				margin-bottom: 15px;
			}
		}
	}
}

@media screen and (max-width: 640px) {
	
	.gameStageWrapper{

		
		.gameInfoWrapper{
			padding-top: 20px;
	
	
			.versus{
				font-size: 3rem;
			}
			
			.date{
				font-size: 1.125rem;
				line-height: 1.225rem;
				margin-bottom: 0px;
			}
			.time{
				font-size: 1rem;
				margin-bottom: 20px;
			}
			
			.teaserButton{
				margin: 20px 0;
			}
			
					
		}
		
		
		
		.logoBox{
	
			.teamname{
				font-size: 1.125rem;
				line-height: 1.225rem;
			}
			
			img{
			margin-bottom: 10px;
			}
		}
	}

}


@media screen and (max-width: 360px) {
	
	.gameStageWrapper{
		.banderoleWrapper{
			margin-bottom: 0px;
		}
		
		.gameInfoWrapper{
			width: 44%;
			padding-top: 0px;
	
	
			.versus{
				font-size: 2rem;
			}
			
			.date{
				font-size: .8rem;
				line-height: .8rem;
				margin-bottom: 0px;
			}
			.time{
				font-size: .8rem;
				margin-bottom: 20px;
			}
			
			.teaserButton{
				margin: 20px 0;
				padding: 0.2rem 0.4rem;
				span{
					font-size:0.8rem;
				} 
			}
			
					
		}
		
		
		
		.logoBox{
			width: 28%;
			.teamname{
				font-size: 1.125rem;
				line-height: 1.225rem;
			}
			
			img{
			margin-bottom: 10px;
			}
		}
	}

}


