#headWrapper{
		background:url('img/bg-sand.jpg');
}

header{
	position: relative;

	&#mainHeader{
		width: @pageWidth;
		max-width: 75em;
		margin: 0 auto;	
		padding: 2em 0;
		
		h1,
		h2{
			color: @white;
			font-family: @serif;
			font-weight: 900;
		}
		h1{
			font-size: 1.75em;
			line-height: 1.2rem;
			text-shadow: @textShadowHard;
		}
		h2{
			font-size: 0.875em;
		}
		.logoWrapper{
			float: left;
			margin-right: 2em;
			margin-top: -1rem;
			a{
			
				&.logo{
					height: 76px;
					width: 81px;
					display: block;
					background: url('img/logo.png') no-repeat top left;
				}
				
			}
		}
	}
}

#mainNavigation{
	background: url('img/bg-nav.png') no-repeat bottom center @darkblue;
	box-shadow: 0 0 20px rgba(0,0,0, .5);
	width: 100%;
	min-height: 4.1rem;
	
	.top-bar{
		background: none;
		width: @pageWidth;
		
		.title-area{
				text-align: center;
				a{
					display: none;
					img{
						height: 100%;
						width: auto;
						
					}
				}
			}
		
		//MOBIL OPEN
		&.expanded{
			.title-area{
				background: white;
			}
			
			.toggle-topbar{
				a{
					color: @red;
					span:after{
						box-shadow: 0 0 0 1px #cd1719, 0 7px 0 1px #cd1719, 0 14px 0 1px #cd1719;
					}
				}
			}
			
			.top-bar-section{
				ul{
					li{
						border-bottom: 1px dashed @grey;
						&.back{
							background: @darkgrey;
							a{
								&:before{
								margin-top: 1.25rem;
								margin-left: -1rem;
								float: left;
								content: "";
								display: inline-block;
								height: 13px;
								width: 15px;
								background: url('img/sprite.png') no-repeat -15px -25px;
								border: none;
							}
							}
						}
						
					}
				}
				.has-dropdown >a:after{
						margin-top: -0.5rem;
						content: "";
						display: inline-block;
						height: 13px;
						width: 15px;
						background: url('img/sprite.png') no-repeat -15px 3px;
						border: none;
						
						
					
				}
			}
		}
		.top-bar-section{
			li
			{
			background: none;
				
				a
				{
					background: none;
					height: 4.1rem;
					line-height: 4rem;
					font-family: @serif;
					font-weight: 700;
					color: @white;
					padding: 0 2rem;
					
					&:hover{
						color: @white;
						background-color: @blue;
					}
					
				}
			&.highlight{
				a{
					box-shadow: inset 0 0 20px rgba(0,0,0,0.4);
					background: @blue;
				}
			}
			
			&.facebook{
				a{
					display: block;
					text-indent: -500px;
					overflow: hidden;
					
					background: url('img/sprite.png') no-repeat 22px -58px;
					
					&:hover{
						background: url('img/sprite.png') no-repeat 22px -58px @blue;
					}
				}
			}
						
			&.active{
				background: @white;
				a{
					color: @red;
					
					&:hover{
						color: @white;
					}
					
				}
				
				// DROPDOWN IN ACTIVE ITEM
				ul{
					li{
						a{
							color: @white;
						}
						&.active{
							a{
								color: @red;
								&:hover{
									color: @white;
								}
							}
						}
					}
				}
			}	
				
			}
			.dropdown{
				background: @darkblue;
				li{
					a{
						height: auto;
						line-height: 3.5rem;
						&:hover{
							background: @blue;
							color: @white;
						}
					}
				}
			}
			.has-dropdown > a:after{
					margin-top: 0.18rem;
					content: "";
					display: inline-block;
					height: 13px;
					width: 15px;
	
					background: url('img/sprite.png') no-repeat -15px -13px;
					border: none;
					
					
				
			}
		}
		
		
	
	}
}



@media screen and (max-width: 1180px) {
	header{
		&#mainHeader{
			width:98%;
		}
	}
	#mainNavigation {
          .top-bar{
	        width: 98%;
	        .top-bar-section{
		        li{
			        a{
				      padding: 0 1.5rem;
			        }
		        }
	        }
	      }
    }

}

@media screen and (max-width: 640px) {
    header{

		&#mainHeader{
			 display: none;
/*
				padding: 0.75em 0;
				width: 100%;
				
				.logoWrapper{
					float: left;
					margin: .5em 0 0 1em;
					width: 81px;
					a{
						&.logo{
							background-size: 70%;
						}
					}
				}
				h1,
				h2{
					font-size: 1.0em;
				}
				h1{
					text-shadow: 1px 1px 1px #000;
				}
				h2{font-size: .8em;}
*/
		}

		
		
	}
    
    #mainNavigation {
        min-height:2rem;
        .top-bar{
	        width: 100%;
	        .title-area{
		        a{
					display: inline;
				}
			}
	      }
    }
    
}

