a{
	
	color: @blue;
	font-family: @serif;
	
	&:hover,
	&:active,
	&:focus{
		color:@red;
	}
	
	
	
	&.teaserLink{
		font-family: @serif;
		color: @blue;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 0.875rem;
		&:after{
			content: "";
			display: inline-block;
			height: 13px;
			width: 15px;
			margin-left: 3px;
			background: url('img/sprite.png') no-repeat 0 3px;
		}
		
		&:hover{
			color:@red;
			
			&:after{
				background: url('img/sprite.png') no-repeat -30px 3px;
			}
		}
	}
	
	&.teaserButton{
		.buttonGradient;
		display: inline-block;
		box-shadow: 3px 3px 0 @darkblue;
		padding: 1rem;
		border-radius: 0.3rem;
		span{
			color: @white;
			font-family: @serif;
			font-weight: 900;
			
			&:after{
				content: "";
				display: inline-block;
				height: 13px;
				width: 15px;
				margin-left: 3px;
				background: url('img/sprite.png') no-repeat -15px 3px;
			}
		}
		&:hover{
			background: @red;
			margin: -1px 1px 1px -1px;
			box-shadow: 4px 4px 0 @darkred;
		}
		&:active{
			margin: 2px -2px -2px 2px;
			box-shadow: 1px 1px 0 @darkblue;
		}
	}
}

@media screen and (max-width: 640px) {
	a{
		&.teaserButton{
		.buttonGradient;
		display: inline-block;
		box-shadow: 3px 3px 0 @darkblue;
		padding: 0.8rem;
		border-radius: 0.3rem;
		span{
			font-size: 0.8;
			}
		}
	}
	
}