.menue-item-overview{
	ul{
		margin: 0px;
		li{
			display: block;
			width: 33%;
			height: 100px;
			float: left;
			background: url("img/gradient.jpg") no-repeat;
			background-size: 100% 100%;
			text-align: center;
			display: table;
			a{	
				font-size: 1.2rem;
				font-weight: 900;
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
	
}