.post-navigation{
	margin-top: 30px;
	h2{
		font-size: 1.2em;
	}
	
	.nav-previous{
		width: 50%;
		float: left;
		
		.post-title{
			&:before{
				content: "";
				display: inline-block;
				height: 13px;
				width: 15px;
				margin-left: 3px;
				background: url('img/sprite.png') no-repeat -80px 3px;
			}
			&:hover{
				&:before{
					background: url('img/sprite.png') no-repeat -50px 3px;
				}
			}
		}
	}
	
	.nav-next{
		width: 50%;
		float: right;
		text-align: right;
		
		.post-title{
			&:after{
				content: "";
				display: inline-block;
				height: 13px;
				width: 15px;
				margin-left: 3px;
				background: url('img/sprite.png') no-repeat 0 3px;
			}
			&:hover{
				&:after{
					background: url('img/sprite.png') no-repeat -30px 3px;
				}
			}
		}
	}
	
	a{
		.screen-reader-text{
			font-family: @sans-serif;
			font-size: 0.8rem;
			color: @grey;
		}
	}
}