#stageImage{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	
	
	//background: url('img/STAGE-IMAGE-01.jpg') no-repeat;
	//background-size: cover;
	
	.dots{
		width: 100%;
		height: 100%;
		background: url('img/dot.png');
		position: fixed;
		top:0px;
	}
	
	img{
		position: absolute;
		width: 100%;
	}
	
}

