table{
	&.rooster,
	&.league,
	&.colored,
	&.standings{
		border: none;
		font-family: @sans-serif;

		thead{
			background: @blue;
			tr{
				th{
					color: @white;
					font-weight: 100;
					font-size: 0.75rem;
					padding: 2px 10px;
				}
			}
		}
		
		tbody{
			tr{
				td{
					background: url("img/gradient.jpg") no-repeat center center;
					background-size: 130% 130%;
					padding: 8px;
				}
			}
		}
		&.fullsize{
			width: 100%
		}
		
	}
	
	&.standings{
		width: 100%;
		tbody{
			tr{
				th{
					background: @blue;
					color: @white;
					font-weight: 100;
					font-size: 0.75rem;
					padding: 2px 5px;			
				}
				td{
					background: url("img/gradient.jpg") no-repeat center center;
					background-size: 130% 130%;
					//font-size: 0.75em;
					padding: 5px;
					
					&.gb,
					&.pct,
					&.v,
					&.g{
						text-align: right;
					}
				}
			}
		}
	}
}
