.teaser{
	//margin-bottom: 2rem;
	.date{
		font-family: @sans-serif;
		font-size: 0.75rem;
		color: @grey;
	}
	a{
		h2{
			color: @red;
			font-family: @serif;
			font-weight: 900;
			font-size: 1.25rem;
			line-height: 1.4rem;
		}
		
		&:hover,
		&:active{
			h2{
				color: @blue;
			}
		}
	}
	
	.imageHolder{
		margin-bottom: 0.625rem;
	}
	
	p{
		margin-bottom: 0.5rem;
	}

	
	&.wide{
		margin-bottom: 30px;
		.imageHolder{
			width: 35%;
			float: left;
			margin-right: 1.25rem;
			}
	}
	
}

@media screen and (max-width: 640px) {
	.teaser{
			margin-bottom: 1.25rem;
			padding-bottom: 1.25rem;
			border-bottom: 1px dashed @grey;
		.imageHolder{
			width: 40%;
			float: left;
			margin-right: 0.7rem;
			margin-bottom: 0rem;
		}
		
		h3{
			font-size: 1rem;
			margin: 0rem;
			}
		p,
		.teaserLink{
			display: none;
		}
		
		&.wide{
			.imageHolder{
				width: 40%;
				margin-right: 0.7rem;
			}
					
		}

	}
	
	}